<article class="column l8 m12 s12 documentation">

    <h2 class="anchor" id="getting-started">Getting Started</h2>
    {% for item in site.docs %}
      {% if item.category == 'Getting Started' %}
        <h3 class="anchor" id="{{ item.handle }}">{{ item.title }}</h3>
        {{ item.content }}
      {% endif %}
    {% endfor %}

    <h2 class="anchor" id="the-grid">The Grid</h2>
    {% for item in site.docs %}
      {% if item.category == 'The Grid' %}
        <h3 class="anchor" id="{{ item.handle }}">{{ item.title }}</h3>
        {{ item.content }}
      {% endif %}
    {% endfor %}

</article>
