<div class="column l8 m12 s12 documentation">
  {% for link in site.data.navigation.main %}
    <article class="anchor" id="getting-started">
      <h2>{{ link.title }}</h2>
      {% for childlink in link.children %}
        {% assign handle = childlink.handle %}
        <div class="anchor content" id="{{ childlink.handle }}">
          <h3>{{ childlink.title }}</h3>
          {% for doc in site.docs %}
            {% if doc.handle == handle %}
              {{ doc.content }}
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </article>
  {% endfor %}
</div>
