<main>
  <aside class="sidebar column l3 s-hide">
    <h3>Contents</h3>
    <h4>Getting Started</h4>
    <ul>
      {% for item in site.docs %}
        {% if item.category == 'Getting Started' %}
          <li><a href="#{{ item.handle }}">{{ item.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </aside>
  <div class="column l9 s12">
    <div class="documentation">
      <h2>Getting Started</h2>
      {% for item in site.docs %}
        {% if item.category == 'Getting Started' %}
          <h3 id="{{ item.handle }}">{{ item.title }}</h3>
          {{ item.content }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
</main>
