<main>
  <aside class="sidebar column l3 s-hide" id="navbar-example" >
    <h3>Contents</h3>
    <ul class="nav nav-tabs" role="navigation">
      <li>
        <h4><a data-scroll href="#getting-started">Getting Started</a></h4>
        <ul>
          {% for item in site.docs %}
            {% if item.category == 'Getting Started' %}
              <li><a data-scroll href="#{{ item.handle }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>

      <li>
        <h4><a data-scroll href="#the-grid">The Grid</a></h4>
        <ul>
          {% for item in site.docs %}
            {% if item.category == 'The Grid' %}
              <li><a data-scroll href="#{{ item.handle }}">{{ item.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </li>
    </ul>
  </aside>

  <div class="column l9 s12 documentation">

      <h2 id="getting-started">Getting Started</h2>
      {% for item in site.docs %}
        {% if item.category == 'Getting Started' %}
          <h3 id="{{ item.handle }}">{{ item.title }}</h3>
          {{ item.content }}
        {% endif %}
      {% endfor %}

      <h2 id="the-grid">The Grid</h2>
      {% for item in site.docs %}
        {% if item.category == 'The Grid' %}
          <h3 id="{{ item.handle }}">{{ item.title }}</h3>
          {{ item.content }}
        {% endif %}
      {% endfor %}

  </div>
</main>
